<div class="card mx-auto" style="width: 50%;">
    <div class="container">
        <header>
  <h4> View School Details</h4>
</header>
<div>
<div>
    <label> <b> School Name: </b></label>
     {{particularSchool.schoolName}}
</div>
<div>
    <label> <b>School Location : </b></label>
     {{particularSchool.schoolLocation}}
</div>
<div>
    <label> <b>Established Year </b></label>
     {{particularSchool.establishedYear}}

</div>
<div>
    <label> <b> School Founder</b></label>
     {{particularSchool.schoolFounder}}
</div>
<div>
<label> <b> Principal Name </b></label> 
{{particularSchool.principalName}}
</div>
<button type="button" class="btn btn-info"
(click)="back()"><span>Back</span></button>

    </div>
