<h3> View Student Details</h3>
<div>
    <div>
        <label> <b> studentName: </b></label> {{particularStudent.studentName}}
    </div>
    <div>
        <label> <b> studentMarks: </b></label> {{particularStudent.studentMarks}}
    </div>
    <div>
        <label> <b> studentQualification </b></label> {{particularStudent.studentQualification}}

    </div>
    <div>
        <label> <b> gender </b></label> {{particularStudent.gender}}
    </div>
    <div>
    <label> <b> address </b></label> {{particularStudent.address}}
    </div>

    <div>
        <label> <b> mobileNumber </b></label> {{particularStudent.mobileNumber}}
        </div>

        <div>
            <label> <b> schoolName </b></label> {{particularStudent.schoolName}}
         </div>
         <div>
                <label> <b> isSecondaryStudent </b></label> {{particularStudent.isSecondaryStudent}}
        </div>
    </div>

